---

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

import ImagenFondoInicio from '../assets/FondoPrincipal.png';
import ImagenFondoInstructor from '../assets/Fondos/FondoInstructores.svg';
import ImagenFondopromo from '../assets/Fondos/FondoPromos.svg';
import ImagenReloj from '../assets/IconoReloj.png';
// Supports weights 100-900
import '@fontsource-variable/lexend';

// Supports weights 100-900
import '@fontsource-variable/inter';

// Supports weights 300-900
import '@fontsource-variable/rubik';

// Supports weights 200-700
import '@fontsource-variable/oswald';


import ContenidoInicio from '../components/ComponentesInicio/ContenidoInicio.astro';
---

<Layout title="Cargar">

<div class="FondoInicio">
    <Header /> 
    <div class="sombra">
        <!-- bienvenida a la pagina Mr. o Gym -->
        <p>
            Bienvenido a la página de Mr. O Gym, donde 
            encontrarás todo lo que necesitas para alcanzar
             tus objetivos de fitness. 
               
        </p>
    </div>
</div>

<center>

    <!-- contenedor de los horarios de trabajo del Gym -->
<div class="horarios">

<img src={ImagenReloj.src} alt="" class="reloj">

<h4>HORARIOS</h4>

<p>
    Busca el horario que más te convenga y comienza tu viaje hacia una vida más saludable.
</p>

</div>

<div class="ContenedorDeHorarios">
<div class="horario">
<h5>Lunes a Viernes</h5>
<p>5:00 a. m. - 10:00 p. m.</p>
</div>

<div class="horario">
<h5>Sabado</h5>
<p>5:00 a. m. - 3:00 p. m.</p>
</div>

<div class="horario">
<h5>Domingo</h5>
<p>10:00 a. m. - 1:00 a. m.</p>
</div>


</div>


<img src={ImagenFondoInstructor.src} alt="" class="ImagenFondoInstructores">


<!-- apartado sobre contactar con instructores  -->

<div class="ContendorDeInformacionInstructores">
<h5>
    CONTACTA CON NUESTROS INSTRUCTORES
</h5>
<p>
    Si tienes alguna pregunta o necesitas más información, no dudes en contactar con nuestros instructores. 
    Están aquí para ayudarte a alcanzar tus metas.
</p>
<a href="" class="VereInformacionDeInstructores"><button>INFORMACION</button></a>
</div>

<img src={ImagenFondopromo.src} alt="" class="FondoPromos">
</center>

</Layout>


<style>
::after{
--color-tip1: rgb(255, 252, 85);
}
    body{
        background: black;
    }

    .FondoInicio {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../assets/Fondos/Fondo.svg') no-repeat center center fixed;
    background-size: cover;    
}

.sombra {
    position: absolute;
  
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.616), transparent);
    bottom: 0px;
}

.sombra p{
   
    color: rgba(255, 255, 255, 0.692);
font-family: 'Inter Variable', sans-serif;
width: 85%;
font-size: 13px;
margin: auto;
margin-top: 200px;
}

.SangreMROGym{
    width: 200px;
}

.horarios{
position: relative;
height: 120px;
width: 85%;
max-width: 300px;
background: linear-gradient(90deg, rgb(241, 229, 62), rgb(255, 202, 26));
border-radius: 25px;
margin-bottom: 30px;
}

.horarios h4{
     font-family: 'Rubik Variable', sans-serif;
     text-align: left;
     margin: 30px;
     position: relative;
     top: 30px;
     text-align: left;
}

.horarios p{
     font-family: 'Oswald Variable', sans-serif;
     text-align: left;
     font-size: 12px;
     width: 230px;
     margin-left: -10px;
    position: relative;
    top: 10px;
}

.horario{
    position: relative;
    width: 85%;
    max-width: 300px;
    height: 90px;
    background: transparent;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.692);
    border: 2px solid rgba(255, 255, 255, 0.692);
}

.ContenedorDeHorarios{
    position: relative;
    width: 100%;
    margin: 10px auto;
    background-color: rgb(0, 0, 0);
}

.horario h5{
    font-family: 'Lexend Variable', sans-serif;
    text-align: center;
    margin-top: 10px;
    text-align: left;
    margin-left: 15px;
}

.horario p{
    font-family: 'Lexend Variable', sans-serif;
    font-size: 13px;
    text-align: left;
    margin-left: 15px;
}

.reloj{
position: absolute;
width: 25px;
right: 0px;
margin: 15px;
}

.ImagenFondoInstructores{
    position: relative;
    width: 90%;
    border-radius: 10px;
    margin: 60px auto;
    max-width: 700px;
}

 
 .ContendorDeInformacionInstructores{
    position: relative;
    width: 90%;
    max-width: 700px
 }

 .ContendorDeInformacionInstructores h5{
    font-family: 'Rubik Variable', sans-serif;
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 252, 85);
    text-align: left;
    font-size: 17px;
    width: 300px;
 }

 .ContendorDeInformacionInstructores p{
       color: rgba(255, 255, 255, 0.692);
    text-align: left;
    width: 300px;
    font-size: 13px;
     font-family: 'Lexend Variable', sans-serif;
 }

 .VereInformacionDeInstructores button{
    border: none;
    background: transparent;
    color: rgb(255, 252, 85);
    border: 2px solid rgb(255, 252, 85);
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 12px;
    margin: 20px 0px;
    margin-left: -170px;
    
 }
 a{
    text-decoration: none;
 }

 .FondoPromos{
    position: relative;
    width: 90%;
    margin: 50px auto;
 }
</style>