---
// Supports weights 300-900
import '@fontsource-variable/rubik';
import '@fontsource-variable/teko';

import ImagenLogo from '../../assets/principal.png';
---

<div class="contenedor-Inicio">
<!-- From Uiverse.io by Yaya12085 --> 
 <center>
<div class="plan">
		<div class="inner">
			<span class="pricing">
				<span>
					$500 <small>/ m</small>
				</span>
			</span>
			<p class="title">Mensualidad</p>
			<p class="info">Adquiere una mensualidad y elige entre pagar $500 individualmente por dos meses o compartir la experiencia entre dos personas por el mismo precio.</p>
			<ul class="features">
				<li>
					<span class="icon">
						<svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none"></path>
							<path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
						</svg>
					</span>
					<span><strong>2</strong> Meses</span>
				</li>
				<li>
					<span class="icon">
						<svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none"></path>
							<path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
						</svg>
					</span>
					<span>Una persona<strong></strong></span>
				</li>
				<li>
					<span class="icon">
						<svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none"></path>
							<path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
						</svg>
					</span>
					<span>Dos personas</span>
				</li>
			</ul>
			<div class="action">
			<a class="button" href="#">
				Adquirir
			</a>
			</div>
		</div>
	</div>

<div class="fondo-logo">
<center>
    <img src={ImagenLogo.src} alt="" class="logo">
</center>
</div>




<div class="horario">
    <center>
       
        <p>Lunes a Viernes de 5:00 a.m a 10:00 p.m</p>
    </center>

</div>

<div class="horario">
    <center>
       
        <p>Sabado de 5:00 a.m a 3:00 p.m</p>
    </center>

</div>


<div class="horario">
    <center>
       
        <p>Lunes a Viernes de 10:00 a.m a 1:00 a.m</p>
    </center>

</div>

</center>
<div class="review-card">
  <div class="review-header">
    <div class="review-author-date">
      <p class="author">John Doe</p>
      <p class="date">June 1, 2000</p>
    </div>
  </div>
  <div class="review-title-rating">
    <h3 class="title">Great Experience!</h3>
    <div class="rating">
      <div class="stars">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path d="M9.049 2.927c.3-.916 1.603-.916 1.902 0l1.286 3.953a1.5 1.5 0 001.421 1.033h4.171c.949 0 1.341 1.154.577 1.715l-3.38 2.458a1.5 1.5 0 00-.54 1.659l1.286 3.953c.3.916-.757 1.67-1.539 1.145l-3.38-2.458a1.5 1.5 0 00-1.76 0l-3.38 2.458c-.782.525-1.838-.229-1.539-1.145l1.286-3.953a1.5 1.5 0 00-.54-1.659l-3.38-2.458c-.764-.561-.372-1.715.577-1.715h4.171a1.5 1.5 0 001.421-1.033l1.286-3.953z"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="review-content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
    odio vitae vestibulum. Donec in efficitur ipsum, sed dapibus eros.
  </div>
</div>





<style>
li{
    text-align: left;
    position: relative;
    left: -40px;
}
    .contenedor-Inicio{
        position: relative;
        width: 100%;
        margin: 20px 0px;
        background: rgb(255, 255, 255);
    }

/* Card mensulaidades del gym */
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 0px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
  text-align: left;
   font-family: 'Rubik Variable', sans-serif;
   margin: 45px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: var(--color-tip1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: black;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover, .plan .button:focus {
  background-color: #1d1d1d;
}

/* Horarios del gym */

.horario{
    width: 80%;
    max-width: 400px;
    height: 60px;
    background: black;
    position: relative;
    border-radius: 7px;
    margin-top: 10px;
      font-family: 'Teko Variable', sans-serif;
     color: white;

   
}

.horario p{
    position: relative;
    top: 20px;
    text-align: center;
    font-weight: 200;
    text-size: 20px;
}


/* Logo del gym */
.logo{
    
    width: 70%;
    
}

.fondo-logo{
    background: black;
    
}



.review-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color:  white;
  max-width: 28rem;
  width: 80%;
  background-color: black;
  padding: 1.25rem;
  border-radius: 0.375rem;
  margin: 50px auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform 150ms ease-in-out;
     font-family: 'Rubik Variable', sans-serif;

}

.review-card:hover {
  transform: scale(1.05);
}

.dark .review-card {
  color: #fff;
  background-color: #171717;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.review-author-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.author, .date {
  font-size: 0.75rem;
  line-height: 1rem;
}

.review-title-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 1.05rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.rating {
  font-size: 0.75rem;
  line-height: 1rem;
}

.stars {
  display: flex;
  flex-direction: row;
}

.stars svg {
  height: 1rem;
  width: 1rem;
}

.stars svg:not(:last-child) {
  color: #facc15;
}

.stars svg:last-child {
  color: #fef08a;
}

.review-content {
  font-size: 0.875rem;
  line-height: 1.25rem;
}


</style>


