---
import ImgLogo from '../assets/logo.png';

import ImgIconoMenu from '../assets/icono/menu.png'


// Supports weights 100-900
import '@fontsource-variable/lexend';

// Supports weights 200-700
import '@fontsource-variable/oswald';
---


<header>
<center>
<div class="header">
<img src={ImgLogo.src} alt="" class="icono-logo">
<p>Mr. O Gym</p>
<img src={ImgIconoMenu.src} alt="" class="icono-menu">
</div>
</center>

</header>

<style>
.header {
  display: flex;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
   
}
.header {
  position: relative;
  width: 90%;
  height: 50px;
  top: 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
.icono-logo{
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin-left: 20px;
}

.icono-menu{
position: absolute;
right: 20px;
border-radius: 0%;
width: 20px;

}
.header p{
  font-family: 'Oswald Variable', sans-serif;
 color: rgba(255, 255, 255, 0.76);
 font-size: 13px;
 margin-left: 5px;
 font-weight: 500;
}

</style>