---

---

<div class="inicio-fondo">

</div>


<style>
    .inicio-fondo{
        background: url(../assets/imgs/fondo.jpg) center no-repeat;
        width: 100%;
        height: 290px;
        background-size: cover ;
        margin-top: 0px;
    }
</style>