---
import '@fontsource-variable/rubik';
import '@fontsource-variable/teko';

import '@fontsource/permanent-marker';


import IconoDeLlamada from '../../assets/instructores/icono-de-llamada.png';

---


<div class="Contenido-Servicios">
<div class="Titulo-de-la-pagina">
    <h2>Instructores</h2>
</div>

<div class="card-instructor">
<center><h4>Instructora</h4></center>
<div class="fondo-de-card-instructora"></div>
<center><p class="nombre-del-instructor">Mariana Lopez</p></center>
<nav class="contenedor-de-informacion-del-instructor">

<li>- Entrenamiento personalizado.</li>
<li>- Diseña planes estrategicos.</li>
<p>Entrenamiento de:</p>
<li>- Fuerza, resistencia,velocidad, flexibilidad, acondicionamiento fisico.</li>

<!-- From Uiverse.io by adamgiebl --> 
<button class="cssbuttons-io-button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    width="24"
    height="24"
  >
    <path fill="none" d="M0 0h24v24H0z"></path>
    <img src={IconoDeLlamada.src} alt=""></path>
  </svg>
  <span>971 170 9794</span>
</button>



</nav>
</div>



<div class="card-instructor">
<center><h4>Instructor</h4></center>
<div class="fondo-de-card-instructor"></div>
<center><p class="nombre-del-instructor">Oscar Lopez Lopez</p></center>
<nav class="contenedor-de-informacion-del-instructor">

<li>- Planificacion.</li>
<li>- programacion.</li>
<li>- Dietas personalizadas y planes de <br>entrenamiento a medida.</li>
    


<button class="cssbuttons-io-button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    width="24"
    height="24"
  >
    <path fill="none" d="M0 0h24v24H0z"></path>
    <img src={IconoDeLlamada.src} alt=""></path>
  </svg>
  <span>971 170 9794</span>
</button>




</nav>
</div>


</div>

<style>
.Contenido-Servicios {
    position: relative;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: ce=nter;
    flex-wrap: wrap;
      
}
.Titulo-de-la-pagina {
 font-family: 'Permanent Marker', cursive;
  color: var(--color-tip2);   
  background: black;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  top: 0px;
  letter-spacing: 0.9px;
  font-size: 14px;
  
}



h2{
    filter: drop-shadow(1px 1px 5px rgb(255, 218, 54));
}
h4{
  
     font-family: 'Permanent Marker', cursive;
       color: var(--color-tip2);  
}

.nombre-del-instructor{
       font-family: 'Teko Variable', sans-serif;
       color: var(--color-tip2);
       font-size: 19px;
}

.contenedor-de-informacion-del-instructor{
       font-family: 'Teko Variable', sans-serif;
       color: white;
       font-size: 15px;
       list-style: none;
}

.contenedor-de-informacion-del-instructor li{
  position: relative;
  left: 30px;
  letter-spacing: 0.5px;
}

.contenedor-de-informacion-del-instructor p{
      position: relative;
  left: 30px;
  letter-spacing: 0.5px;
}
.card-instructor {
  width: 80%;
  max-width: 300px;
  margin: auto;
  padding: 10px;
  padding-bottom: 30px;
  background: black;
  border-radius: 15px;
  position: relative;
  top: 20px;
  margin-bottom: 30px;
}


.fondo-de-card-instructora {
  width: 120px;
  height: 120px;
  background: url('../../assets/instructores/fondo-card-instructora.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 50%;
  margin: auto;
 
}

.fondo-de-card-instructor{
  width: 120px;
  height: 120px;
  background: url('../../assets/instructores/fondo-card-instructor.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 50%;
  margin: auto;
}


/* Botón de contactos */

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 4px 20px;
  color: white;
  background: var(--color-tip2);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
  color: black;
  margin: auto;
  margin-top: 20px;
}

.cssbuttons-io-button span{
  margin-left: 10px;
}
.cssbuttons-io-button svg {
  margin-right: -20px;

}

.cssbuttons-io-button img{
  width: 15px;
}


</style>
