---

interface Props {
	title: String;
}

const { title } = Astro.props;

---



<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.png"/>
		

		<!-- apartado de meta datos informacion de la pagina vista de facebook, whatsapp, etc -->
	
	<meta property="og:title" content="Mr. O Gym">
    <meta property="og:description" content="Mr. O Gym, tu lugar para alcanzar tus metas de fitness con los mejores instructores y un ambiente motivador.">
    <meta property="og:image" content="https://mrogym.com/logo.jpeg">
    <meta property="og:url" content="https://mrogym.com">
    <meta property="og:type" content="website">
	
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background: black;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
